<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <!-- link to fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link to CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body style="background-color: lightslategray;">
    <div id="app">
        <header class="container d-flex align-items-center justify-content-center mt-5">
            <h1>To do:</h1>
        </header>

        <main>

            <form class="d-flex mt-3 w-50 flex-column m-auto">
                <input placeholder="type your task" type="text" v-model="newTask" class="form-control my-3"
                    id="newTask">
                <input type="submit" @click.prevent="addNewTask" value="Add" class="w-100 m-auto btn btn-info">
            </form>

            <div class="container mt-5 d-flex align-items-center justify-content-center">

                <ul class="list-group-item-dark list">
                    <li v-for="(task, index) in toDoList"
                        class="d-flex align-items-center justify-content-center list-group-item fs-3">
                        <div @click="changeStatus(index)" :class="[ task.done ? 'text-decoration-line-through' : '' ]">
                            {{ task.text }}</div>
                        <i class="fa-solid fa-xmark" @click="removeTask(index)"></i>
                    </li>
                </ul>


            </div>



        </main>



        <footer>

        </footer>

    </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>